body {
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", Microsoft YaHei, STHeiti, sans-serif;

}

.rengecenter {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.v-center {
    width:1024px;
}
.miaopasi {
  margin-top: 10px;
}

.post-content {
  font-size: 18px;
}
.post-content img{
  width: 100%;
  margin-bottom: 5px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  color: #0c6296; 
}
.post-content strong {
  color: #0c6296; 
}